body{
    background-color: darkorchid;
    
}
.grid-layout{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    width: 100%;

}
.ButtonsDiv{
    border: 5px solid black;
    width: 200px;
    margin: 5px;
}

.Button{
    width: 200px;
}