<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FAST-Q</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="styles.css"/>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <form action="#" method="post">
            <input type="submit", name="send", value="A">
            <input type="submit", name="send", value="B">
            <input type="submit", name="send", value="C">
            <input type="submit", name="send", value="D">
        </form>
    </div>
</body>
</html>